product/src/main/resources/products.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://example.org/products"
           targetNamespace="http://example.org/products" elementFormDefault="qualified">

    <xs:simpleType name="unitOfMeasure">
        <xs:restriction base="xs:string">
            <xs:enumeration value="METERS"/>
            <xs:enumeration value="CENTIMETERS"/>
            <xs:enumeration value="MILLIGRAMS"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="color">
        <xs:restriction base="xs:string">
            <xs:enumeration value="RED"/>
            <xs:enumeration value="YELLOW"/>
            <xs:enumeration value="ORANGE"/>
            <xs:enumeration value="WHITE"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="country">
        <xs:restriction base="xs:string">
            <xs:enumeration value="USA"/>
            <xs:enumeration value="CHINA"/>
            <xs:enumeration value="INDIA"/>
            <xs:enumeration value="NORTH_KOREA"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="createCoordinatesRequest">
        <xs:sequence>
            <xs:element name="x" type="xs:float"/>
            <xs:element name="y" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="createPersonRequest">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="birthday" type="xs:date"/>
            <xs:element name="height" type="xs:double"/>
            <xs:element name="eye_color" type="tns:color"/>
            <xs:element name="nationality" type="tns:country"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="createProductRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="coordinates" type="tns:createCoordinatesRequest"/>
                <xs:element name="price" type="xs:int"/>
                <xs:element name="unit_of_measure" type="tns:unitOfMeasure" minOccurs="0"/>
                <xs:element name="owner" type="tns:createPersonRequest" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="createProductResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="code" type="xs:string"/>
                <xs:element name="body" type="tns:createProductResponseType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="createProductResponseType">
        <xs:sequence>
            <xs:element name="id" type="xs:long"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="coordinates" type="tns:coordinatesResponse"/>
            <xs:element name="creation_date" type="xs:string"/>
            <xs:element name="price" type="xs:int"/>
            <xs:element name="unit_of_measure" type="tns:unitOfMeasure" minOccurs="0"/>
            <xs:element name="owner" type="tns:personResponse" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="coordinatesResponse">
        <xs:sequence>
            <xs:element name="x" type="xs:float"/>
            <xs:element name="y" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="personResponse">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="birthday" type="xs:string"/>
            <xs:element name="height" type="xs:double"/>
            <xs:element name="eye_color" type="tns:color"/>
            <xs:element name="nationality" type="tns:country"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="getProductsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="code" type="xs:string"/>
                <xs:element name="body" type="tns:getProductsResponseType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="getProductsResponseType">
        <xs:sequence>
            <xs:element name="data" type="tns:productResponseType" maxOccurs="unbounded"/>
            <xs:element name="meta" type="tns:metaResponseType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="productResponseType">
        <xs:sequence>
            <xs:element name="id" type="xs:long"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="coordinates" type="tns:coordinatesResponse"/>
            <xs:element name="creation_date" type="xs:string"/>
            <xs:element name="price" type="xs:int"/>
            <xs:element name="unit_of_measure" type="tns:unitOfMeasure" minOccurs="0"/>
            <xs:element name="owner" type="tns:personResponse" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="metaResponseType">
        <xs:sequence>
            <xs:element name="current_page" type="xs:int"/>
            <xs:element name="total_pages" type="xs:int"/>
            <xs:element name="page_size" type="xs:int"/>
            <xs:element name="total_items" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="errorResponse">
        <xs:sequence>
            <xs:element name="code" type="xs:string"/>
            <xs:element name="message" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="getProductsRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="page" type="xs:int"/>
                <xs:element name="size" type="xs:int"/>
                <xs:element name="sort" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="filter" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getProductRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getProductResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="code" type="xs:string"/>
                <xs:element name="body" type="tns:getProductResponseType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="getProductResponseType">
        <xs:sequence>
            <xs:element name="id" type="xs:long"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="coordinates" type="tns:coordinatesResponse"/>
            <xs:element name="creation_date" type="xs:string"/>
            <xs:element name="price" type="xs:int"/>
            <xs:element name="unit_of_measure" type="tns:unitOfMeasure" minOccurs="0"/>
            <xs:element name="owner" type="tns:personResponse" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="updateProductRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
                <xs:element name="name" type="xs:string" minOccurs="0"/>
                <xs:element name="coordinates" type="tns:updateCoordinatesRequest" minOccurs="0"/>
                <xs:element name="price" type="xs:int" minOccurs="0"/>
                <xs:element name="unit_of_measure" type="tns:unitOfMeasure" minOccurs="0"/>
                <xs:element name="owner" type="tns:updatePersonRequest" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="updateProductResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="code" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="updatePersonRequest">
        <xs:sequence>
            <xs:element name="name" type="xs:string" minOccurs="0"/>
            <xs:element name="birthday" type="xs:date" minOccurs="0"/>
            <xs:element name="height" type="xs:double" minOccurs="0"/>
            <xs:element name="eye_color" type="tns:color" minOccurs="0"/>
            <xs:element name="nationality" type="tns:country" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="updateCoordinatesRequest">
        <xs:sequence>
            <xs:element name="x" type="xs:float" minOccurs="0"/>
            <xs:element name="y" type="xs:int" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="deleteProductRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="deleteProductResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="code" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="deleteProductsByPriceRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="price" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="deleteProductsByPriceResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="code" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getColorsRequest">
        <xs:complexType>
            <xs:sequence>
                <!-- No fields since the request is empty -->
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getColorsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="code" type="xs:string"/>
                <xs:element name="body" type="tns:getColorsResponseType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="getColorsResponseType">
        <xs:sequence>
            <xs:element name="color" type="tns:color" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="getCountriesRequest">
        <xs:complexType>
            <xs:sequence>
                <!-- No fields since the request is empty -->
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getCountriesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="code" type="xs:string"/>
                <xs:element name="body" type="tns:getCountriesResponseType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="getCountriesResponseType">
        <xs:sequence>
            <xs:element name="country" type="tns:country" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="getMeasuresRequest">
        <xs:complexType>
            <xs:sequence>
                <!-- No fields since the request is empty -->
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getMeasuresResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="code" type="xs:string"/>
                <xs:element name="body" type="tns:getMeasuresResponseType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="getMeasuresResponseType">
        <xs:sequence>
            <xs:element name="measure" type="tns:unitOfMeasure" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="getUniqueMeasurementsRequest">
        <xs:complexType>
            <xs:sequence>
                <!-- No fields since the request is empty -->
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getUniqueMeasurementsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="code" type="xs:string"/>
                <xs:element name="body" type="tns:getUniqueMeasurementsResponseType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="getUniqueMeasurementsResponseType">
        <xs:sequence>
            <xs:element name="measure" type="tns:unitOfMeasure" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="getEarliestProductRequest">
        <xs:complexType>
            <xs:sequence>
                <!-- No fields since the request is empty -->
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getEarliestProductResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="code" type="xs:string"/>
                <xs:element name="body" type="tns:getEarliestProductResponseType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="getEarliestProductResponseType">
        <xs:sequence>
            <xs:element name="id" type="xs:long"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="coordinates" type="tns:coordinatesResponse"/>
            <xs:element name="creation_date" type="xs:string"/>
            <xs:element name="price" type="xs:int"/>
            <xs:element name="unit_of_measure" type="tns:unitOfMeasure" minOccurs="0"/>
            <xs:element name="owner" type="tns:personResponse" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>